.ColorBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 3px;
}


.copy-button {
  padding: 5px 40px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 3px;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  border: none;
  opacity: 0;
}

.Color-footer {
  width: 100%;
 display: flex;
 justify-content: space-between;
}

.Color-footer span {
  margin: 7px 10px;
  color: white;
  
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  padding: 3px;
  border-radius: 2px;
}

.ColorBox:hover .copy-button{
  opacity: 1;
  transition: 1s;
}